.sidebar {
  width: 270px;
  height: 100vh;
  background-color: #E7EEFF;
  color: rgb(52, 53, 53);
  padding: 10px;
  font-weight: 400;
}

.sidebar ul {
  padding: 0;
}

.sidebar li {
  padding: 12px;
  margin-left: 10px;
}

.my-custom-menu {
  cursor: pointer;
  background-color: #E7EEFF;
  outline: none;
}

.my-custom-menu-item:hover {
  background-color: #7490de;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: none;
}

.my-custom-menu.ant-menu .ant-menu-item {
  color: rgb(52, 52, 52);
}

.my-custom-menu.ant-menu .ant-menu-item-selected {
  background-color: #0652b7 !important;
  color: white !important;
}