.form-container{
  background-color: #e8eaef;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 30px;
  width: 900px;
}

.cancelbtn {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 8px 18px;
  margin: 10px 6px;
  font-size: 17px;
  background-color: rgb(84, 81, 81);
  color: var(--i);
  outline: none;
  border: 3px solid var(--i);
  border-radius: 4px;
  cursor: pointer;
  pointer-events: all;
  transition: .3s;
  font-weight: 600;
}

.cancelbtn:hover {
  background-color: var(--i);
  color: #000000;
}

.assignbtn {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 8px 18px;
    margin: 10px 6px;
    font-size: 17px;
    background-color: rgb(12, 92, 167);
    color: var(--i);
    outline: none;
    border: 3px solid var(--i);
    border-radius: 4px;
    cursor: pointer;
    pointer-events: all;
    transition: .3s;
    font-weight: 600;
}

.assignbtn:hover {
  background-color: var(--i);
  color: #000000;
}

.button-group {
  margin-left: 315px;
  margin-bottom: -10px;
}

.settings-container{
  max-width: 1200px;
}

.table-container {
  max-width: 1170px;
}

.table-container-travel {
  max-width: 1150px;
}

.custom-button-green {
  background-color: rgb(12, 92, 167);
  color: white;
  padding: 10px 30px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.custom-button-red {
  background-color: #5caeec;
  color: white;
  padding: 10px 30px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.delete-btn {
  background-color: #ec6d5c;
    color: white;
    padding: 8px 20px;
    font-size: 16px;
    margin-right: -42px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.print-hide {
  display: none !important;
}

.success-alert {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  font-size: 17px;
  max-width: 400px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
}

.error-alert {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  max-width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 17px;
}